/* Custom color theme properties */
:root {
  --f7-theme-color: #00b08c;
  --f7-theme-color-rgb: 0, 176, 140;
  --f7-theme-color-shade: #00876c;
  --f7-theme-color-tint: #00d9ac;
}

/* Your app custom styles here */