.nav-bar-logo {
  max-height: 36px;
  width: 100%;
  margin-top: 6px;
  margin-right: 12px;
}
.login-screen-logo {
  max-width: 300px;
  width:70%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-screen-content{
  margin-top: 70px !important;
}

.m-t-24 {
  margin-top: 24px !important;
}

.m-t-16{
  margin-top: 16px !important;
}

.m-t-0{
  margin-top: 0px;
}

.m-b-0{
  margin-bottom: 0px;
}

.d-none{
  display: none;
}

.label-wrapper{
  padding-left: calc(var(--f7-block-padding-horizontal) + var(--f7-safe-area-left));
  padding-right: calc(var(--f7-block-padding-horizontal) + var(--f7-safe-area-right));
}

.no-padding-left.title.sliding{
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.no-padding-left.link{
  padding-left: 0 !important;
  margin-left: calc(var(--f7-block-padding-horizontal) - var(--f7-navbar-inner-padding-right)) !important;
}

.rounded{
  border-radius: 50% !important;
}


.media-list .item-title, li.media-item .item-title {
  font-weight: bold;
}

.item-after .badge {
  display: flex;
  position: absolute;
  top: 24px;
  right: 0;
  background: var(--f7-theme-color);
}

.andon-status-navbar {
  border-radius: 50%;
  border: 2px solid white;
  background: #0abf0a;
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 2px;
  right: 12px;
}

.andon-status {
  border-radius: 50%;
  border: 2px solid white;
  background: #0abf0a;
  width: 8px;
  height: 8px;
  position: relative;
  top: -30px;
  left: -30px;
}

.andon-status.warning {
  background: #ffb500;
}

.andon-status.error {
  background: #ff0000;
}

.block.passcode-input {
  position: relative;
  z-index: 5;
}

.block.passcode-numpad {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  max-width: none;
  z-index: 10;
}

#demo-numpad-inline, input.demo-numpad-inline-2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border: none;
  background: none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  display: block;
  padding: 0 0 0 5px;
  margin: auto;
  width: 100%;
  height: 64px;
  color: #000;
  font-family: inherit;
  letter-spacing: 5px;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
}

.pin-keypad-screen-title {
   max-width: var(--f7-login-screen-blocks-max-width);
   margin: var(--f7-login-screen-blocks-margin-vertical) auto;
   margin-top: calc(var(--f7-login-screen-blocks-margin-vertical) * 5);
   text-align: var(--f7-login-screen-title-text-align);
   font-size: var(--f7-login-screen-title-font-size);
   font-weight: var(--f7-login-screen-title-font-weight);
   color: var(--f7-login-screen-title-text-color);
   letter-spacing: var(--f7-login-screen-title-letter-spacing);
 }

li.username-input {

  input{
    height: 60px !important;
  }

  .input-clear-button:after {
    font-size: 24px !important;
    right: 16px !important;
    top: 4px !important;
    position: absolute;
  }

}

.pin-input{
  height: 60px;
}

.pin-input{
  height: 100%;
}

.pin-input{

  .pin-bullet{
    height: 100%;
  }

}

.pin-input {
  margin: auto;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  outline: 0;
  padding: 0;
  font-family: inherit;
  resize: none;
  color: var(--f7-input-text-color);
  font-size: var(--f7-input-font-size);
  padding-left: var(--f7-input-padding-left);
  padding-right: var(--f7-input-padding-right);
  border-radius: var(--f7-input-outline-border-radius);
  border: 1px solid #ccc;
  list-style: none;

}

.pin-wrapper{
  margin: 8px 16px 40px 16px;
}

.login-button {
  height: 60px;
  margin: auto 16px;
  background-color: #e0231a;
  font-size: 18px;
}

.input-outline:after, .item-input-outline .item-input-wrap:after, .pin-input {
  border: 2px solid var(--f7-input-outline-border-color);
}

.red-text{
  color: #e0231a;
}

.link.icon-only.popup-close {
  position: absolute;
  right: 25px;
  top: 20px;
}

.link.icon-only.popup-close > i {
  font-size: 36px;
}

.keypad-inline {
  height: 50vh;
  max-height: 420px;
  width: 100%;
}

#numpad-mini-sheet-modal{
  height: calc(37vh + 3px);
  box-shadow: 2px 2px 24px rgb(0 0 0 / 30%);
}

#numpad-mini {
  z-index: 5500;
  position: absolute;
  border: 0;
  bottom: 0;
  display: block;
  width: 100%;
}

#numpad-mini .keypad-inline {
  height: 37vh;
  max-height: 420px;
  width: 100%;
}

div.sheet-modal-job-summary{

  .list .item-title {
    font-weight: bold;
  }

}

.md {
  --f7-message-bubble-border-radius: 10px !important;
  --f7-message-received-bg-color: #ffffff !important;
  --f7-messages-content-bg-color: #ebedf7 !important;
}

.dark.md{

  --f7-message-received-bg-color: #2A2A2A !important;
  --f7-message-received-text-color: #d3d3d3;
  --f7-messages-content-bg-color: #2e2e2e !important;
  --f7-message-sent-bg-color: #000000 !important;
  --f7-message-sent-text-color: #cccccc !important;

  .toolbar.messagebar {
    border-color: #424242;
    background-color: #000000;
    box-shadow: 2px 2px 24px rgb(0 0 0 / 0%);
  }

  .messages {
    background-color: rgb(22 22 22 / 85%);
    background-image: url(/assets/img/im-bg-720.png);
    background-blend-mode: color;
  }

}

.messages {
  padding: 0 10px 0 5px;
  background-color: rgb(235 237 247 / 93%);
  background-image: url(/assets/img/im-bg-720.png);
  background-size: contain;
  background-blend-mode: color-burn;
  background-attachment: fixed;
}

.message-time-ago {
  font-size: 80%;
  opacity: 0.7;
  margin-top: 5px;
}

.im-attachment-title{
  font-size: 13px;
}

.im-attachment-title{
  font-size: 14px;
}

.im-attachment-description-details-wrapper{
  background-color: rgba(0,0,0,0.1);
  margin: 5px -5px -5px -5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: 12px;
  padding: 3px 7px;
}

.im-attachment-description-details-text{
  font-size: 12px;
}

.im-attachment-description-wrapper{
  border-radius: 7px;
  background-color: rgba(128,128,128,0.3);
  padding: 5px;
  text-align: left !important;
  margin: 5px auto;
}

div.messages-title.message-appeared div {
  box-shadow: 2px 2px 3px rgb(0 0 0 / 20%);
  padding: 9px;
  border: none;
  border-radius: 6px;
  background-color: var(--f7-message-received-bg-color);
  color: var(--f7-message-received-text-color);
  width: fit-content;
  margin: auto;
  font-weight: bold;
}

.message-time-ago i {
  opacity: 1;
  margin-top: -4px;
  vertical-align: top;
  margin-left: 6px;
  color: #03a9f4;
  text-align: right;
  font-size: 20px;
}

.actions-modal.modal-in {
  border-radius: 24px;
  margin: 10px auto;
  width: calc(100vw - 20px);
  left: 10px;
  right: 10px;
}

.toolbar.messagebar {
  border: 2px solid #f3f3f3;
  border-radius: 28px;
  margin: 3px auto;
  width: max-content;
  position: absolute;
  bottom: 0;
  left: 3px;
  right: 3px;
  box-shadow: 2px 2px 24px rgb(0 0 0 / 30%);
}

.toolbar.messagebar {
  border: 2px solid #f3f3f300;
  border-radius: 28px;
  margin: 3px auto 16px 3px;
  width: calc(100vw - (var(--f7-fab-size) + (var(--f7-fab-margin) * 2)));
  position: absolute;
  bottom: 0;
  left: 3px;
  right: 3px;
  box-shadow: 1px 1px 8px rgb(0 0 0 / 30%);
}

.messagebar ~ * {
  --f7-page-toolbar-bottom-offset: calc(var(--f7-messagebar-height) + 32px);
}

.messagebar textarea {
    border: none;
}

div.m-b-0.fab{
  margin-bottom: 0 !important;
}

div.m-b-0.fab > a{
  background-color: var(--f7-theme-color) !important;
}

.messagebar:before {
  height: 0;
}

.message-bubble{
  box-shadow: 2px 2px 3px rgb(0 0 0 / 20%);
  color: var(--f7-message-received-text-color);
  background: var(--f7-message-received-bg-color);
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(15px);
  }
  40% {
    transform: translate(-15px);
  }
  60% {
    transform: translate(15px);
  }
  80% {
    transform: translate(-15px);
  }
  100% {
    transform: translate(0);
  }
}

.shake {
  animation: shake 0.35s infinite;
}

.dark{

  /* Custom color theme properties */
  html {
    --f7-theme-color: #00e2ff;
    --f7-theme-color-rgb: rgb(0, 226, 255);
    --f7-theme-color-shade: #00d5d5;
    --f7-theme-color-tint: #73f1ff;
  }


  .navbar-bg {
    background: #1c1c1d !important;
  }

  .icon-keypad-delete{
    color: #ffffff !important;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .keypad-button {
    background: #191919;
    color: #d7d7d7;
  }

  .keypad-button:active, .keypad-button:focus,  {
    background: #333333;
    color: #d7d7d7;
  }

  .keypad-button:before, .keypad-button:after {
    background-color: #777777;
  }

  #demo-numpad-inline {
    color: #ffffff;
  }

  .input-outline:after, .item-input-outline .item-input-wrap:after {
    border-color: #e0231a;
  }

}